%div{ class:"max-w-xl mx-auto py-6 sm:px-6 lg:px-8" }
  %div{ class: "bg-white shadow overflow-hidden sm:rounded-lg" }
    %div{ class: "px-4 py-5 sm:px-6" }
      %h3{ class: "text-lg leading-6 font-medium text-gray-900" }
        New Transaction

      %br/

      %div{ class: "flex flex-wrap overflow-hidden" }

        %div{ class: "text-center w-1/2 overflow-hidden" }
          %span{ class: "sm:ml-3" }
            - if @transaction_type == "BUY"
              = link_to "BUY", new_transaction_path(:side => "BUY", :coin => @crypto.symbol), class:"inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            - else
              = link_to "BUY", new_transaction_path(:side => "BUY", :coin => @crypto.symbol), class:"inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-black hover:text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"

        %div{ class: "text-center w-1/2 overflow-hidden" }
          %span{ class: "sm:ml-3" }
            - if @transaction_type == "SELL"
              = link_to "SELL", new_transaction_path(:side => "SELL", :coin => @crypto.symbol), class:"inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            - else
              = link_to "SELL", new_transaction_path(:side => "SELL", :coin => @crypto.symbol), class:"inline-flex items-center px-4 py-2 border border-transparent rounded-md shadow-sm text-sm font-medium text-black hover:text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
            

      %br/

      = form_with model: @transaction do |form|
        = form.text_field :kind, value: @transaction_type
        = form.text_field :unit_price, id: "crypto_price", value: (@price * 52).round(2)
        = form.text_field :fee, id: "fee_field"
        = form.text_field :final_price, id: "final_price_field"
        = form.text_field :user_id, value: current_user.id

        %div
          %div{ class: "flex flex-wrap overflow-hidden" }
            %div{ class: "text-left w-1/2 overflow-hidden" }
              = form.label :total_price, "Spend", :class => "block text-sm font-medium text-gray-700"
            
            - if @transaction_type == "SELL"
              %div{ class: "text-right w-1/2 overflow-hidden" }
                = form.label :crypto_balance, "Balance: 2000 #{@crypto.symbol}", :class => "block text-sm font-medium text-gray-700"
          
          %div{ class: "mt-1 relative rounded-md shadow-sm" }

            - if @transaction_type == "BUY"
              = form.text_field :total_price, id: "total_price", placeholder: '970.00 - 720000.00', autocomplete: "off", class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md", :onkeyup => "compute()"
              
              %div{ class: "absolute inset-y-0 right-0 flex items-center" }
                = form.label :currency, :class => "sr-only"
                = form.select(:currency, ["PHP"], {}, { :class => "focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md" })
            - else
              = form.text_field :amount, id: "in_units", placeholder: '0.00', autocomplete: "off", class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md", :onkeyup => "compute()"
              
              %div{ class: "absolute inset-y-0 right-0 flex items-center" }
                = form.label :symbol, :class => "sr-only"
                = form.select(:symbol, ["#{@crypto.symbol}"], {}, { :class => "focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md" })

        %div
          = form.label :amount, "Receive", :class => "block text-sm font-medium text-gray-700"

          %div{ class: "mt-1 relative rounded-md shadow-sm" }
            - if @transaction_type == "BUY"
              = form.text_field :amount, id: "in_units", placeholder: '0.00', autocomplete: "off", class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md", :onkeyup => "compute()"
              
              %div{ class: "absolute inset-y-0 right-0 flex items-center" }
                = form.label :symbol, :class => "sr-only"
                = form.select(:symbol, ["#{@crypto.symbol}"], {}, { :class => "focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md" })
            - else
              = form.text_field :total_price, id: "total_price", placeholder: '970.00 - 720000.00', autocomplete: "off", class: "focus:ring-indigo-500 focus:border-indigo-500 block w-full pl-7 pr-12 sm:text-sm border-gray-300 rounded-md", :onkeyup => "compute()"
              
              %div{ class: "absolute inset-y-0 right-0 flex items-center" }
                = form.label :currency, :class => "sr-only"
                = form.select(:currency, ["PHP"], {}, { :class => "focus:ring-indigo-500 focus:border-indigo-500 h-full py-0 pl-2 pr-7 border-transparent bg-transparent text-gray-500 sm:text-sm rounded-md" })
        
        %div{ class: "border-t border-gray-200" }
          %dl
            %div{ class: "bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" }
              %dt{ class: "text-sm font-medium text-gray-500" }
                - if @transaction_type == "BUY"
                  Pay with
                - else
                  Receive with
              
              %dd{ class: "mt-1 text-right text-sm text-gray-900 sm:mt-0 sm:col-span-2" }
                - if @transaction_type == "BUY"
                  Cash balance: 1000 PHP
                - else
                  Cash balance
          
            %div{ class: "bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" }
              %dt{ class: "text-sm font-medium text-gray-500" }
                Price
              
              %dd{ class: "mt-1 text-right text-sm text-gray-900 sm:mt-0 sm:col-span-2" }
                1 BTC = #{(@price * 52).round(2)} PHP

            %div{ class: "bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" }
              %dt{ class: "text-sm font-medium text-gray-500" }
                Fees
              
              %dd{ class: "mt-1 text-right text-sm text-gray-900 sm:mt-0 sm:col-span-2" }
                = form.label :fee, "0.00", :id => "fee_label"
            
            %div{ class: "bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6" }
              %dt{ class: "text-sm font-medium text-gray-500" }
                Total
              
              %dd{ class: "mt-1 text-right text-sm text-gray-900 sm:mt-0 sm:col-span-2" }
                = form.label :fee, "0.00", :id => "final_price_label"
      
        = button_tag(type: "submit", class: "group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500", id: 'validForm') do
          Confirm

:javascript
  let tPrice = document.getElementById('total_price')
  let cryptoPrice = document.getElementById('crypto_price')
  let inUnits = document.getElementById('in_units')

  function into_units() {
    if (document.activeElement == tPrice && tPrice.value) {
      inUnits.value = (tPrice.value / cryptoPrice.value).toFixed(10)
    }
    else if (document.activeElement == inUnits && inUnits.value) {
      tPrice.value = (inUnits.value * cryptoPrice.value).toFixed(2)
    }
    else {
      inUnits.value = ""
      tPrice.value = ""
    }
  }

  function calculate() {
    if (tPrice.value) {final_price_label
      let transaction_fee = Number(Number(tPrice.value) * 0.02).toFixed(2)
      let final_price = Number(Number(tPrice.value) + Number(transaction_fee)).toFixed(2)

      document.getElementById('fee_field').value = Number(transaction_fee).toFixed(2)
      document.getElementById('fee_label').innerHTML = Number(transaction_fee).toFixed(2)

      document.getElementById('final_price_field').value = Number(final_price).toFixed(2)
      document.getElementById('final_price_label').innerHTML = Number(final_price).toFixed(2)
    }
    else {
      document.getElementById('fee_field').value = ""
      document.getElementById('fee_label').innerHTML = "0.00"

      document.getElementById('final_price_field').value = ""
      document.getElementById('final_price_label').innerHTML = "0.00"
    }
  }

  function compute() {
    into_units()
    calculate()
  }